@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');

.loader {
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.2em;
    z-index: 9999999;
  }
  .loader span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  }
  .loader span::before,
  .loader span::after {
    content: "";
    display: block;
    width: 40px;
    height: 50px;
    background: #f97316;
    position: absolute;
    animation: load 0.8s infinite alternate ease-in-out;
  }
  .loader span::before {
    top: 0;
  }
  .loader span::after {
    bottom: 0;
  }
  @keyframes load {
    0% {
      left: 0;
      height: 30px;
      width: 10px;
    }
    50% {
      height: 10px;
      width: 50px;
    }
    100% {
      left: 235px;
      height: 30px;
      width: 10px;
    }
  }

  /* toggle button */
.toggle-content {
  display: none;
}

.appear {
  display: flex;
}

.dropdown-content {
  display: none;
}

.show {
  display: flex;
}

#tree {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #262626;
}

[data-n-id] rect {
  fill: #191919;
}

[data-n-id='1'] rect {
  fill: #0c0c0c;
}

[data-l-id] path {
  stroke: #f97316;
}

[data-l-id='[3][4]'] path {
  stroke: #f97316;
}

[data-ctrl-ec-id] circle.ba-fill {
  fill: #0c0c0c;
}

[data-ctrl-ec-id='3'] circle.ba-fill {
  fill: #0c0c0c;
}

[data-ctrl-n-menu-id] circle {
  fill: #f97316;
}

[data-id='search'] {
display: block !important;
}

      table.dataTable {

       border:1px solid #f5f5f5;

       background-color: #0c0c0c;

      }

      /* th,tr,td {
        border-color: #f5f5f5 !important;
      } */

      /* thead {
        background-color: #f5f5f5;
      } */

      /* Table Head */
      thead > tr,

      thead > tr > th {

        background-color: transparent;

        color: #0c0c0c !important;

        font-weight: normal;

        text-align: start;

      }

      table.dataTable thead th,

      table.dataTable thead td {

        border-bottom: 0px solid #111 !important;

      }

      .dataTables_wrapper > div {

        margin: 5px;

      }

      /* Active Row Hover */
      table.dataTable.display tbody tr.even > .sorting_1,

      table.dataTable.order-column.stripe tbody tr.even> .sorting_1, 

      table.dataTable.display   tbody tr.even,

      table.dataTable.display tbody tr.odd > .sorting_1,

      table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,

      table.dataTable.display tbody tr.odd {

        background-color: #191919;

        color:#f5f5f5;

      }

      table.dataTable thead th {

        position: relative;

        background-image: none !important;

      }

      table.dataTable thead th.sorting:after,

      table.dataTable thead th.sorting_asc:after,

      table.dataTable thead th.sorting_desc:after {

        position: absolute;

        top: 12px;

        right: 8px;

        display: block;

        font-family: "Font Awesome\ 5 Free";

      }

      /* table.dataTable thead th.sorting:after {

        content: "\f0dc";

        color: #f97316;

        font-size: 0.8em;

        padding-top: 0.12em;

      }

      table.dataTable thead th.sorting_asc:after {

        content: "\f0de";

      }

      table.dataTable thead th.sorting_desc:after {

        content: "\f0dd";

      } */

      table.dataTable.display tbody tr:hover > .sorting_1,

      table.dataTable.order-column.hover tbody tr:hover > .sorting_1,

      tbody tr:hover {

        background-color: #0c0c0c !important;

        color: #f5f5f5;

      }

      /* Pagenation button */
      .dataTables_wrapper .dataTables_paginate .paginate_button.current, 

      .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
          border: 1px solid #fff !important;
         background-color: #f97316 !important;
         color: #fff !important;
        padding: 3px 10px !important;
        border-radius: 7px !important;
      }
       /* Pagenation button hover */
      .dataTables_wrapper .dataTables_paginate .paginate_button {

          background: none !important;
         color: #facc15 !important

      }

.paginate_button.current:hover

{
        background-color: #facc15 !important;
        color: #0c0c0c !important;
        border: 1px solid #0c0c0c;

}

/* .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {


  background-color: #facc15 !important;
  color: #0c0c0c !important;
} */

#tbl_id{
  color: #f97316;
}